backend:
  name: git-gateway
  branch: main

media_folder: "uploads"
public_folder: "/uploads"

collections:
  - name: "site"
    label: "Site Content"
    files:
      - file: "content/site.json"
        label: "Homepage"
        name: "homepage"
        fields:
          - label: "Hero Title"
            name: "hero_title"
            widget: "string"

          - label: "Hero Text"
            name: "hero_text"
            widget: "text"

          - label: "Hero Image"
            name: "hero_image"
            widget: "image"
